@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-noto-sans:
    Nunito Sans, Helvetica Neue, Helvetica, Arial, Noto Sans SC, sans-serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.section-headline {
    @apply bg-zinc-900 inline-block my-1 py-1 pl-2 pr-16 text-white font-bold dark:text-black dark:bg-white;
}

.external-link {
    @apply text-sm opacity-0 absolute invisible;
    left: -28px;
    top: 12px;
    transition: all 0.3s ease-in-out;
}

.section-headline:hover ~ .external-link {
    @apply opacity-100 visible;
}
